
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-mar-2018, 11.50.52
    Author     : michelepilia
*/




/*Font e sfondo generali impostati sul body */

* { /*Override del valore iniziale attribuito dal webkit*/
  margin: 0;
  padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #eff0f2;
}



/*Sezione top (Header + nav)*/
.top {
    display: inline;
    background-color: #008ae6;
    z-index: 100;
    top:0px;
    height: 70px;
    border-collapse: collapse;
}


header {
    font-size: 25px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    width: 137px;
    left:0px;
}

nav {
    position: fixed;
    width: 100%;
    left: 186px;
    border-left: 1px solid black;
    
}

nav ul { /*controllo elenco lista nav*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav li { /*Controllo elementi lista nav*/
    float: left;
    margin: 0px;
    padding: 24px;
    font-size: 19px;
    border-right: 1px solid black;
}


/*Controllo link nav*/
nav a:link {
    text-decoration: none;
}

nav a:visited {
    color:blue;
}

nav a:hover {
    background-color: white;
}

nav a:active {
}




/*Sezione controllo sidebar (Categorie + Autori))*/

.sidebar {
    background-color: #ccebff;
    display: block;
    position: fixed;
    top: 70px;
    height: 100%;
    width: 169px;
    border-right: 1px solid black;
    padding-left: 17px;
}

/*Barra di ricerca*/
#search {
    margin-top: 5px;
    margin-bottom: 5px;
}

#input_search {
    margin-bottom: 15px;
}


/*Categorie articoli*/
.categorie {
    margin-left: 15px;
    margin-bottom: 15px;
}


ul.categorie {/*Elenco categorie*/
    margin-top: 7px;
}

.categorie li {/*Elementi dell'elenco categorie'*/
    margin-bottom: 3px;
}


/*Elenco autori*/
ul.autori{/**/
    list-style-type: none;
    margin-top: 7px;
}
/*Elementi dell'elenco autori'*/
.autori li{
    font-size: 15px;
    
    position:relative;
    display: block;
    
    left: 0px;
    min-height: 23px;
    margin-bottom: 5px;
    padding-left: 30px;
    
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0px 3px;
}

#fracchia {/*elemento lista autori fracchia*/
    background-image: url('images/fracchia.jpeg');
}

#aldo {/*...*/
    background-image: url('images/baglio.jpg');
}
    

#baudaffi {
    background-image: url('images/baudaffi.jpg');
    
}

/*Link properties sidebar*/
.sidebar a:link, a:visited {
    text-decoration: none;
    color: black
}

.sidebar a:hover {
    text-decoration: underline;
}



/*div che contiene title e logo*/
.div_title {
    display: block;
    position: relative;
    top: 100px;
    left: 480px;
    
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    
    width: 500px;
    height: 340px;
}

#logo {
}

#main_title {
    display: block;
    position:absolute;
    
    top: 300px;
    padding:10px;
    margin-top: 10px;
    
    text-align: center; 
    font-size: 25px;
}





.main_content {
    display:block;
    position: relative;
    width: 300px;
    
    top: 150px;
    left: 600px;
    
    padding: 20px;
    border: 1px solid white;
    border-radius: 7px;
    margin-bottom: 300px;
    
    
    background-color: white;
}

