
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-mar-2018, 11.50.52
    Author     : michelepilia
*/

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #ccebff;
}


.top {
    display: inline;
    background-color: #008ae6;
    z-index: 100;
    top:0px;
    height: 70px;
    border-collapse: collapse;
}


header {
    font-size: 25px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    width: 137px;
    left:0px;
}

nav {
    position: fixed;
    width: 100%;
    left: 186px;
    border-left: 1px solid black;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    margin: 0px;
    padding: 24px;
    font-size: 19px;
    border-right: 1px solid black;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    color:blue;
}

nav a:hover {
    background-color: white;
}

nav a:active {
}



.sidebar {
    display: block;
    position: fixed;
    top: 70px;
    height: 100%;
    width: 178px;
    border-right: 1px solid black;
}

.autori li{
    margin-bottom: 10px;
    list-style-type: none;
}

#fracchia {
    background-image: url('images/fracchia.jpeg');
    background-repeat: no-repeat;
    background-size: 20px;
}

#aldo {
    background-image: url('images/baglio.jpg');
    background-repeat: no-repeat;
    background-size: 20px;
}

#baudaffi {
    background-image: url('images/baudaffi.jpg');
    background-repeat: no-repeat;
    background-size: 20px;
}





#div_title {
    position: relative;
    top: 120px;
    left: 300px; 
    width: 500px;
}

#logo {
    
}

#main_title {
    display: block;
    position:relative;
    text-align: center;
    
}

.main_content {
    display:inline;
    position: absolute;
    top: 550px;
    background-color: white;
    width: 300px;
    left: 500px;
}

